// -----------------------------------------

    // Backgrounds

// -------------------------------------------

// Triangle background
// created by Ryan Burgess
@mixin triangleBg($color1, $color2, $color3){
    background: 
    linear-gradient(135deg, $color1 25%, transparent 25%) -40px 0,
    linear-gradient(225deg, $color1 25%, transparent 25%) -40px 0,
    linear-gradient(315deg, $color1 25%, transparent 25%) 0 -40px,
    linear-gradient(135deg, $color1 25%, transparent 25%) 40px 40px,
    linear-gradient(45deg, $color3 25%, transparent 25%) 0 -40px,
    linear-gradient(225deg, $color3 25%, transparent 25%) -40px -40px,
    linear-gradient(315deg, $color2 25%, transparent 25%),
    linear-gradient(45deg, $color2 25%, transparent 25%);
    background-size: 80px 80px;
    background-color: $color1;
}

// Angles background
// created by Ryan Burgess
@mixin angleBg($color1, $color2){
    background: 
    linear-gradient(135deg, $color1 25%, transparent 25%) -40px 0,
    linear-gradient(225deg, $color2 25%, transparent 25%) -40px 0,
    linear-gradient(315deg, $color2 25%, transparent 25%) 0 -40px,
    linear-gradient(135deg, $color2 25%, transparent 25%) 40px 40px,
    linear-gradient(45deg, $color1 25%, transparent 25%) 0 -40px,
    linear-gradient(225deg, $color1 25%, transparent 25%) -40px -40px,
    linear-gradient(315deg, $color1 25%, transparent 25%),
    linear-gradient(45deg, $color2 25%, transparent 25%);
    background-size: 80px 80px;
    background-color: $color2;
}

// Squares background
// created by Ryan Burgess
@mixin squaresBg($color1, $color2){
    background:$color1;
    background-image: linear-gradient(90deg, $color2 50%, transparent 50%),
    linear-gradient($color2 50%, transparent 50%);
    background-size:30px 30px;
}

// Circle background
// created from Lea Verou's Seigaiha background // CSS3 Patterns Gallery
@mixin circleBg($color1, $color2){
    background-color:$color1;
    background-image: 
    radial-gradient(circle at 100% 150%, $color1 24%, $color2 25%, $color2 28%, $color1 29%, $color1 36%, $color2 36%, $color2 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, $color1 24%, $color2 25%, $color2 28%, $color1 29%, $color1 36%, $color2 36%, $color2 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, $color2 10%, $color1 11%, $color1 23%, $color2 24%, $color2 30%, $color1 31%, $color1 43%, $color2 44%, $color2 50%, $color1 51%, $color1 63%, $color2 64%, $color2 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, $color2 5%, $color1 6%, $color1 15%, $color2 16%, $color2 20%, $color1 21%, $color1 30%, $color2 31%, $color2 35%, $color1 36%, $color1 45%, $color2 46%, $color2 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, $color2 5%, $color1 6%, $color1 15%, $color2 16%, $color2 20%, $color1 21%, $color1 30%, $color2 31%, $color2 35%, $color1 36%, $color1 45%, $color2 46%, $color2 49%, transparent 50%, transparent);
    background-size:100px 50px;
}

// Polka Dots background
// created from Lea Verou's Polka dot background // CSS3 Patterns Gallery
@mixin polkaDot($color1, $color2){
    background-color:$color1;
    background-image: radial-gradient($color2 15%, transparent 16%),
    radial-gradient($color2 15%, transparent 16%);
    background-size:60px 60px;
    background-position: 0 0, 30px 30px;
}

// Zig-zag background
// created from eCSSpert's Zig-zag background // CSS3 Patterns Gallery
@mixin zigZagBg($color1, $color2){
    background: 
    linear-gradient(135deg, $color2 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, $color2 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, $color2 25%, transparent 25%),
    linear-gradient(45deg, $color2 25%, transparent 25%);   
    background-size: 100px 100px;
    background-color: $color1;
}

// Argyle background
// created from Anna Kassner's Argyle background // CSS3 Patterns Gallery
@mixin argyle($color1, $color2, $color3){
    background-color: $color1;
    background-image:
    repeating-linear-gradient(120deg, $color3, $color3 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, $color3, $color3 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, $color2 25%, transparent 25%, transparent 75%, $color2 75%, $color2),
    linear-gradient(120deg, $color2 25%, transparent 25%, transparent 75%, $color2 75%, $color2);
    background-size: 70px 120px;
}

// Hearts background
// created from Lea Verou's Hearts background // CSS3 Patterns Gallery
@mixin heartsBg($color1, $color2){
    background: 
    radial-gradient(circle closest-side at 60% 43%, $color1 26%, rgba(187,0,51,0) 27%),
    radial-gradient(circle closest-side at 40% 43%, $color1 26%, rgba(187,0,51,0) 27%),
    radial-gradient(circle closest-side at 40% 22%, $color2 45%, rgba(221,51,85,0) 46%),
    radial-gradient(circle closest-side at 60% 22%, $color2 45%, rgba(221,51,85,0) 46%),
    radial-gradient(circle closest-side at 50% 35%, $color2 30%, rgba(221,51,85,0) 31%),
    radial-gradient(circle closest-side at 60% 43%, $color1 26%, rgba(187,0,51,0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 43%, $color1 26%, rgba(187,0,51,0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 22%, $color2 45%, rgba(221,51,85,0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 60% 22%, $color2 45%, rgba(221,51,85,0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 50% 35%, $color2 30%, rgba(221,51,85,0) 31%) 50px 50px;
    background-color:$color1;
    background-size:100px 100px;
}

// Stars background
// created from Nicolas Gallagher's Hearts background // CSS3 Patterns Gallery
@mixin starsBg($color1, $color2){
    background:
    linear-gradient(324deg, $color1 4%,   transparent 4%) -70px 43px,
    linear-gradient( 36deg, $color1 4%,   transparent 4%) 30px 43px,
    linear-gradient( 72deg, $color2 8.5%, transparent 8.5%) 30px 43px,
    linear-gradient(288deg, $color2 8.5%, transparent 8.5%) -70px 43px,
    linear-gradient(216deg, $color2 7.5%, transparent 7.5%) -70px 23px,
    linear-gradient(144deg, $color2 7.5%, transparent 7.5%) 30px 23px,
    linear-gradient(324deg, $color1 4%,   transparent 4%) -20px 93px,
    linear-gradient( 36deg, $color1 4%,   transparent 4%) 80px 93px,
    linear-gradient( 72deg, $color2 8.5%, transparent 8.5%) 80px 93px,
    linear-gradient(288deg, $color2 8.5%, transparent 8.5%) -20px 93px,
    linear-gradient(216deg, $color2 7.5%, transparent 7.5%) -20px 73px,
    linear-gradient(144deg, $color2 7.5%, transparent 7.5%) 80px 73px;
    background-color: $color1;
    background-size: 100px 100px;
}